<!DOCTYPE html>
<html>
  <head>
    <title>Job Board Home</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    @using JobBoard.Models
    <h1>Job Openings</h1>
    @{foreach (JobOpening job in JobOpening.GetAll())
    {
      <h4>@job.Title, @job.Salary</h4>
      <p>@job.Description</p>
      <p>@job.Contact.Name</p>
      <p>@job.Contact.Email</p>
      <p>@job.Contact.PhoneNumber</p>
    }}
    <div class="footer">
      <a href="/">Return To Job Board</a>
    </div>
  </body>
</html>